<!-- Start - Add Bank Account Offcanvas -->
			<div class="custom-offcanvas-width offcanvas offcanvas-end" tabindex="-1" id="add-bank-account" aria-labelledby="add-bank-account" aria-modal="true" role="dialog">
				<div class="offcanvas-header d-flex justify-content-between border-5 border-bottom border-primary">
					<div class="d-flex align-items-center gap-2">
						<button type="button" class="btn-close m-0" data-bs-dismiss="offcanvas" aria-label="Close"></button>
						<h5 class="offcanvas-title fw-bold">Add New Account</h5>
					</div>
					<div class="d-flex gap-2">
						<a href="javascript:void(0);" class="btn btn-light">Cancel</a>
						<a href="javascript:void(0);" class="btn btn-primary">Save</a>
					</div>
				</div>

				<!-- Start - Offcanvas Body -->
				<div class="offcanvas-body">
					
					<div class="position-relative mb-4">
						<label class="form-label text-uppercase">Account Holder Name:</label>
						<input type="text" class="form-control form-control-lg">
					</div>

					<div class="position-relative mb-4">
						<label class="form-label text-uppercase">Account Number:</label>
						<input type="text" class="form-control form-control-lg">
					</div>

					<div class="position-relative mb-4">
						<label class="form-label text-uppercase">IFSC Code:</label>
						<input type="text" class="form-control form-control-lg">
					</div>

					<div class="position-relative mb-4">
						<label class="form-label text-uppercase">Bank Name:</label>
						<input type="text" class="form-control form-control-lg">
					</div>

					<div class="position-relative mb-4">
						<label class="form-label text-uppercase">Bank Address:</label>
						<input type="text" class="form-control form-control-lg">
					</div>

					<div class="position-relative mb-4">
						<label class="form-label text-uppercase">Iban Number:</label>
						<input type="text" class="form-control form-control-lg">
					</div>

					<div class="position-relative mb-4">
						<label class="form-label text-uppercase">UPI Number:</label>
						<input type="text" class="form-control form-control-lg">
					</div>

					<h6 class="mb-3">Opening Balance:</h6>

					<div class="position-relative mb-4">
						<label class="form-label text-uppercase">Amount</label>
						<input type="number" class="form-control form-control-lg">
					</div>

				</div>
				<!-- End - Offcanvas Body -->
			
			</div>
			<!-- End - Add Bank Account Offcanvas -->