<!-- Start - Add Party Offcanvas -->
			<div class="custom-offcanvas-width TriggerOffcanvas offcanvas offcanvas-end" tabindex="-1" id="create-party" aria-labelledby="create-party" aria-modal="true" role="dialog">
				<div class="offcanvas-header d-flex justify-content-between border-5 border-bottom border-primary">
					<div class="d-flex align-items-center gap-2">
						<button type="button" class="btn-close m-0" data-bs-dismiss="offcanvas" aria-label="Close"></button>
						<h5 class="offcanvas-title fw-medium">Add Party</h5>
					</div>
					<div class="d-flex gap-2">
						<a href="javascript:void(0);" class="btn btn-light">Cancel</a>
						<a href="javascript:void(0);" class="btn btn-primary">Save</a>
					</div>
				</div>

				<!-- Start - Offcanvas Body -->
				<div class="offcanvas-body">
					
					<div class="position-relative mb-4">
						<label class="form-label text-uppercase">Party Name</label>
						<input type="text" class="form-control form-control-lg">
					</div>

					<div class="d-flex gap-2">
						<div class="width130">
							<select class="form-select selectpicker">
								<option data-content="<img src='assets/images/onsite/india.png' alt=''> +91">India</option>
								<option data-content="<img src='assets/images/onsite/saudi-arab.png' alt=''> +966">Saudi Arabis</option>
								<option data-content="<img src='assets/images/onsite/qatar.png' alt=''> +974">Qatar</option>
								<option data-content="<img src='assets/images/onsite/uae.png' alt=''> +971">United Arab Emiarates</option>
								<option data-content="<img src='assets/images/onsite/nepal.png' alt=''> +977">Nepal</option>
								<option data-content="<img src='assets/images/onsite/us-canada.png' alt=''> +1">US/Canada</option>
								<option data-content="<img src='assets/images/onsite/uk.png' alt=''> +44">UK</option>
								<option data-content="<img src='assets/images/onsite/australia.png' alt=''> +61">Austialia</option>
								<option data-content="<img src='assets/images/onsite/kuwait.png' alt=''> +965">Kuwait</option>
								<option data-content="<img src='assets/images/onsite/oman.png' alt=''> +968">Oman</option>
								<option data-content="<img src='assets/images/onsite/indonasia.png' alt=''> +62">Indonasia</option>
								<option data-content="<img src='assets/images/onsite/thialand.png' alt=''> +66">Thailand</option>
								<option data-content="<img src='assets/images/onsite/phillipins.png' alt=''> +63">Phillipins</option>
								<option data-content="<img src='assets/images/onsite/lebanon.png' alt=''> +961">Lebanon</option>
								<option data-content="<img src='assets/images/onsite/egypt.png' alt=''> +20">Egypt</option>
								<option data-content="<img src='assets/images/onsite/turkey.png' alt=''> +90">Turkey</option>
								<option data-content="<img src='assets/images/onsite/kenya.png' alt=''> +254">Kenya</option>
								<option data-content="<img src='assets/images/onsite/south-africa.png' alt=''> +27">South Africa</option>
								<option data-content="<img src='assets/images/onsite/nigeria.png' alt=''> +234">Nigeria</option>
								<option data-content="<img src='assets/images/onsite/behrain.png' alt=''> +973">Behrain</option>
								<option data-content="<img src='assets/images/onsite/togo.png' alt=''> +228">Togo</option>
								<option data-content="<img src='assets/images/onsite/ivory-coast.png' alt=''> +225">Ivory Coast</option>
							</select>
						</div>
						<div class="position-relative mb-4 w-75">
							<input type="number" class="form-control" placeholder="Phone">
						</div>
					</div>

					<div class="position-relative mb-4">
						<label class="form-label text-uppercase">Email</label>
						<input type="email" class="form-control form-control-lg" placeholder="Email">
					</div>

					<div class="mb-4">
						<div class="dropdown-slt">
							<label class="form-label text-uppercase">Party Type</label>
							<input class="form-control form-control-lg w-100 border rounded on-dropdown-input" data-dropdown-target="#party_type" type="text" readonly="">
							<div class="dropdown-list border rounded mt-2 p-2 on-dropdown-menu" id="party_type" style="display: none;">
								<h6 class="m-0 p-2 border-bottom">Party Type</h6>
								<div class="party-item d-flex align-items-center p-2 on-dropdown-item" data-val="Client">
									<label for="client" class="d-flex justify-content-between pointer align-items-center bg-primary-subtle rounded w-100 p-2 form-check mb-0" >
										<div class="form-check">
											<input class="form-check-input" type="radio" id="client" name="party-type">
											<span class="form-check-label" >Client</span>
										</div>
									</label>
								</div>
								<div class="party-item d-flex align-items-center p-2 pt-0 on-dropdown-item" data-val="Staff">
									<label class="d-flex justify-content-between pointer align-items-center bg-primary-subtle rounded w-100 p-2 form-check mb-0">
										<div class="form-check">
											<input class="form-check-input" type="radio" id="staff" name="party-type">
											<span class="form-check-label" for="staff">Staff</span>
										</div>
									</label>
								</div>
								<div class="party-item d-flex align-items-center p-2 pt-0 on-dropdown-item" data-val="Worker">
									<label class="d-flex justify-content-between pointer align-items-center bg-primary-subtle rounded w-100 p-2 form-check mb-0">
										<div class="form-check">
											<input class="form-check-input" type="radio" id="worker" name="party-type">
											<span class="form-check-label">Worker</span>
										</div>
									</label>
								</div>
								<div class="party-item d-flex align-items-center p-2 pt-0 on-dropdown-item" data-val="Investor">
									<label  class="d-flex justify-content-between pointer align-items-center bg-primary-subtle rounded w-100 p-2 form-check mb-0">
										<div class="form-check">
											<input class="form-check-input" type="radio" id="investor" name="party-type">
											<span class="form-check-label">Investor</span>
										</div>
									</label>
								</div>
								<h6 class="m-0 p-2 border-bottom">Vendor</h6>
								<div class="party-item d-flex align-items-center p-2 on-dropdown-item" data-val="Labour Contractor">
									<label for="labour_contractor" class="d-flex justify-content-between pointer align-items-center bg-primary-subtle rounded w-100 p-2 form-check mb-0" >
										<div class="form-check">
											<input class="form-check-input" type="radio" id="labour_contractor" name="party-type">
											<span class="form-check-label">Labour Contractor</span>
										</div>
									</label>
								</div>
								<div class="party-item d-flex align-items-center p-2 pt-0 on-dropdown-item" data-val="Material Supplier">
									<label for="material_supplier" class="d-flex justify-content-between pointer align-items-center bg-primary-subtle rounded w-100 p-2 form-check mb-0">
										<div class="form-check">
											<input class="form-check-input" type="radio" id="material_supplier" name="party-type">
											<span class="form-check-label">Material Supplier</span>
										</div>
									</label>
								</div>
								<div class="party-item d-flex align-items-center p-2 pt-0 on-dropdown-item" data-val="Equipment Supplier">
									<label for="equipment_supplier" class="d-flex justify-content-between pointer align-items-center bg-primary-subtle rounded w-100 p-2 form-check mb-0">
										<div class="form-check">
											<input class="form-check-input" type="radio" id="equipment_supplier" name="party-type">
											<span class="form-check-label">Equipment Supplier</span>
										</div>
									</label>
								</div>
								<div class="party-item d-flex align-items-center p-2 pt-0 on-dropdown-item" data-val="Subcontractor">
									<label for="subcontractor" class="d-flex justify-content-between pointer align-items-center bg-primary-subtle rounded w-100 p-2 form-check mb-0">
										<div class="form-check">
											<input class="form-check-input" type="radio" id="subcontractor" name="party-type">
											<span class="form-check-label" for="subcontractor">Subcontractor</span>
										</div>
									</label>
								</div>
								<div class="party-item d-flex align-items-center p-2 pt-0 on-dropdown-item" data-val="Other Vendor">
									<label for="other_vendor" class="d-flex justify-content-between pointer align-items-center bg-primary-subtle rounded w-100 p-2 form-check mb-0">
										<div class="form-check">
											<input class="form-check-input" type="radio" id="other_vendor" name="party-type">
											<span class="form-check-label">Other Vendor</span>
										</div>
									</label>
								</div>
							</div>
						</div>
					</div>

					<div class="form-control form-control-lg mb-4 pointer" data-bs-toggle="offcanvas" data-bs-target="#opening_balance">
						<div class="d-flex justify-content-between align-items-center">
							<div class="d-flex gap-3">
								<span>$</span>
								<p class="m-0">Opening Balance</p>
							</div>
							<div>
								<i class="icon feather icon-chevron-right"></i>
							</div>
						</div>
					</div>

					<div class="form-control form-control-lg mb-4 pointer" data-bs-toggle="offcanvas" data-bs-target="#add_address">
						<div class="d-flex justify-content-between align-items-center">
							<p class="m-0">Your Address</p>
							<div>
								<a href="javascript:void(0);" data-bs-toggle="offcanvas" data-bs-target="#add_address">+Add</a>
							</div>
						</div>
					</div>

					<div class="position-relative mb-4">
						<label class="form-label text-uppercase">Party ID</label>
						<input type="none" class="form-control form-control-lg" data-bs-toggle="modal" data-bs-target="#edit_party_id" placeholder="PID-1">
					</div>

					<div class="position-relative mb-4">
						<label class="form-label text-uppercase">Aadhaar</label>
						<div class="d-flex gap-2">
							<input type="number" class="form-control form-control-lg" placeholder="Aadhar Number">
							<div class="custom-img-upload img-parent-box">
								<img src="https://demo.w3cms.in/lemars/public/images/noimage.jpg" class="img-for-onchange" id="UserImg" alt="Image" width="100px" height="100px" title="Image" style="display: none;">
								<button type="button" class="cancel-img-btn position-absolute" style="display: none; z-index: 2;" aria-label="Close"><i class="icon feather icon-x"></i></button>
								<div class="upload-btn">
									<input type="file" class="form-control ps-2 img-input-onchange" name="aadhar_img" id="aadhar_img" accept=".png, .jpg, .jpeg, .pdf" hidden="">
									<label class="upload-label btn btn-outline-primary dropzone-btn m-0" for="aadhar_img"><i class="icon fas fa-upload"></i></label>
								</div>
							</div>
						</div>
					</div>

					<div class="position-relative mb-4">
						<label class="form-label text-uppercase">PAN</label>
						<div class="d-flex gap-2">
							<input type="text" class="form-control form-control-lg" placeholder="PAN Number">
							<div class="custom-img-upload img-parent-box">
								<img src="https://demo.w3cms.in/lemars/public/images/noimage.jpg" class="img-for-onchange" id="UserImg" alt="Image" width="100px" height="100px" title="Image" style="display: none;">
								<button type="button" class="cancel-img-btn position-absolute" style="display: none; z-index: 2;" aria-label="Close"><i class="icon feather icon-x"></i></button>
								<div class="upload-btn">
									<input type="file" class="form-control ps-2 img-input-onchange" name="pan_img" id="pan_img" accept=".png, .jpg, .jpeg, .pdf" hidden="">
									<label class="upload-label btn btn-outline-primary dropzone-btn m-0" for="pan_img"><i class="icon fas fa-upload"></i></label>
								</div>
							</div>
						</div>
					</div>
				</div>
				<!-- End - Offcanvas Body -->
			
			</div>
			<!-- End - Add Party Offcanvas -->
			
            <!-- Start - Opening Balance Offcanvas -->
            <div class="custom-offcanvas-width offcanvas offcanvas-end" tabindex="-1" id="opening_balance" aria-labelledby="opening_balance" aria-modal="true" role="dialog">
                <div class="offcanvas-header d-flex justify-content-between border-5 border-bottom border-primary">
                    <div class="d-flex align-items-center gap-2">
                        <button type="button" class="btn-close m-0" data-bs-dismiss="offcanvas" aria-label="Close"></button>
                        <h5 class="offcanvas-title fw-medium">Opening Balance</h5>
                    </div>
                    <div class="d-flex gap-2">
                        <a href="javascript:void(0);" class="btn btn-light">Cancel</a>
                        <a href="javascript:void(0);" class="btn btn-primary">Save</a>
                    </div>
                </div>

                <!-- Start - Offcanvas Body -->
                <div class="offcanvas-body">
                    
                    <div class="d-flex mb-4 gap-2">
                        <label for="party_will_pay" class="d-flex justify-content-center align-items-center border rounded gap-2 form-label p-2 pointer w-50">
                            <input class="form-check-input" type="radio" name="opening_balance" id="party_will_pay">
                            <span>Party will pay</span>
                        </label>
                        <label for="party_will_receive" class="d-flex justify-content-center align-items-center border rounded gap-2 form-label p-2 pointer w-50">
                            <input class="form-check-input" type="radio" name="opening_balance" id="party_will_receive">
                            <span>Party will receive</span>
                        </label>
                    </div>

                    <div class="position-relative mb-4">
                        <label class="form-label text-uppercase">Amount($)*</label>
                        <input type="number" class="form-control form-control-lg">
                    </div>

                </div>
                <!-- End - Offcanvas Body -->
            
            </div>
            <!-- End - Opening Balance Offcanvas -->

            <!-- Start - Add Address Offcanvas -->
            <div class="custom-offcanvas-width offcanvas offcanvas-end" tabindex="-1" id="add_address" aria-labelledby="add_address" aria-modal="true" role="dialog">
                <div class="offcanvas-header d-flex justify-content-between border-5 border-bottom border-primary">
                    <div class="d-flex align-items-center gap-2">
                        <button type="button" class="btn-close m-0" data-bs-dismiss="offcanvas" aria-label="Close"></button>
                        <h5 class="offcanvas-title fw-semibold text-uppercase">New Address</h5>
                    </div>
                    <div class="d-flex gap-2">
                        <a href="javascript:void(0);" class="btn btn-light">Cancel</a>
                        <a href="javascript:void(0);" class="btn btn-primary">Save</a>
                    </div>
                </div>

                <!-- Start - Offcanvas Body -->
                <div class="offcanvas-body">
                    
                    <div class="position-relative mb-4">
                        <label class="form-label text-uppercase">Address Heading</label>
                        <input type="text" class="form-control form-control-lg">
                    </div>

                    <div class="position-relative mb-4">
                        <label class="form-label text-uppercase">GST</label>
                        <input type="text" class="form-control form-control-lg">
                    </div>

                    <h6 class="mb-4">Address Details</h6>
                    
                    <div class="position-relative mb-4">
                        <label class="form-label text-uppercase">Address Line 1</label>
                        <input type="text" class="form-control form-control-lg">
                    </div>

                    <div class="position-relative mb-4">
                        <label class="form-label text-uppercase">City</label>
                        <input type="text" class="form-control form-control-lg">
                    </div>

                    <div class="position-relative mb-4">
                        <label class="form-label text-uppercase">State / Province</label>
                        <input type="text" class="form-control form-control-lg">
                    </div>

                    <div class="position-relative mb-4">
                        <label class="form-label text-uppercase">ZIP / Postal Code</label>
                        <input type="text" class="form-control form-control-lg">
                    </div>

                    <div class="position-relative">
                        <label class="form-label text-uppercase">Country</label>
                        <select class="form-select form-select-lg selectpicker">
                            <option data-content="<img src='assets/images/onsite/india.png' alt=''> India">India</option>
                            <option data-content="<img src='assets/images/onsite/saudi-arab.png' alt=''> Saudi Arabia">Saudi Arabis</option>
                            <option data-content="<img src='assets/images/onsite/qatar.png' alt=''> Qatar">Qatar</option>
                            <option data-content="<img src='assets/images/onsite/uae.png' alt=''> Ubited Aram Emiates">United Arab Emiarates</option>
                            <option data-content="<img src='assets/images/onsite/nepal.png' alt=''> Nepal">Nepal</option>
                            <option data-content="<img src='assets/images/onsite/us-canada.png' alt=''> US">US/Canada</option>
                            <option data-content="<img src='assets/images/onsite/uk.png' alt=''> UK">UK</option>
                            <option data-content="<img src='assets/images/onsite/australia.png' alt=''> Austialia">Austialia</option>
                            <option data-content="<img src='assets/images/onsite/kuwait.png' alt=''> Kuwait">Kuwait</option>
                            <option data-content="<img src='assets/images/onsite/oman.png' alt=''> Oman">Oman</option>
                            <option data-content="<img src='assets/images/onsite/indonasia.png' alt=''> Indonasia">Indonasia</option>
                            <option data-content="<img src='assets/images/onsite/thialand.png' alt=''> Thailand">Thailand</option>
                            <option data-content="<img src='assets/images/onsite/phillipins.png' alt=''> Phillipins">Phillipins</option>
                            <option data-content="<img src='assets/images/onsite/lebanon.png' alt=''> Lebanon">Lebanon</option>
                            <option data-content="<img src='assets/images/onsite/egypt.png' alt=''> Egypt">Egypt</option>
                            <option data-content="<img src='assets/images/onsite/turkey.png' alt=''> Turkey">Turkey</option>
                            <option data-content="<img src='assets/images/onsite/kenya.png' alt=''> Kenya">Kenya</option>
                            <option data-content="<img src='assets/images/onsite/south-africa.png' alt=''> South Africa">South Africa</option>
                            <option data-content="<img src='assets/images/onsite/nigeria.png' alt=''> Nigeria">Nigeria</option>
                            <option data-content="<img src='assets/images/onsite/behrain.png' alt=''> Behrain">Behrain</option>
                            <option data-content="<img src='assets/images/onsite/togo.png' alt=''> Togo">Togo</option>
                            <option data-content="<img src='assets/images/onsite/ivory-coast.png' alt=''> Ivory Coast">Ivory Coast</option>
                        </select>
                    </div>

                </div>
                <!-- End - Offcanvas Body -->
            
            </div>
            <!-- End - Add Address Offcanvas -->

            <!-- Start - Edit Party ID Modal -->
            <div class="modal fade" id="edit_party_id" data-bs-keyboard="false" tabindex="-1" aria-labelledby="edit_party_id" aria-modal="true" role="dialog">
                <div class="modal-dialog modal-dialog-centered">
                    <div class="modal-content">
                        <div class="modal-header border-4 border-primary">
                            <h4 class="modal-title">Edit Party ID</h4>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            
                            <div class="position-relative mb-4">
                                <label class="form-label text-uppercase">Prefix</label>
                                <input type="text" class="form-control" placeholder="PID-">
                            </div>

                            <div class="position-relative mb-4">
                                <label class="form-label text-uppercase">Sequence</label>
                                <input type="text" class="form-control" placeholder="1">
                            </div>

                            <div>
                                <button type="submit" class="btn btn-primary w-100">Save</button>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
            <!-- End - Edit Party ID Modal -->

			
            <!-- Start - Remove Image Modal -->
            <div class="modal fade" id="imageRemoveConfirmModal" tabindex="-1">
                <div class="modal-dialog modal-dialog-centered modal-sm">
                    <div class="modal-content stylish-modal text-center p-3">
                        <div class="text-danger mb-2">
                            <i class="icon feather icon-trash-2 fs-26"></i>
                        </div>
                        <h5 class="fw-bold text-dark mb-2">Are you sure?</h5>
                        <p class="text-muted mb-3">You want to remove this image.</p>
                    
                        <!-- Image preview -->
                        <div class="preview-wrapper mb-3 rounded shadow-sm overflow-hidden">
                            <img id="previewImageInModal" src="" alt="Preview" class="img-fluid w-100" />
                        </div>

                        <!-- Buttons -->
                        <div class="d-flex justify-content-center gap-2">
                            <button type="button" class="btn btn-outline-secondary rounded-pill px-4 py-1" data-bs-dismiss="modal">Cancel</button>
                            <button type="button" class="btn btn-danger rounded-pill px-4 py-1" id="confirmRemoveImageBtn">Yes, Remove</button>
                        </div>
                    </div>
                </div>
            </div>
            <!-- End - Remove Image Modal -->