<!-- Start - I Paid Offcanvas -->
			<div class="custom-offcanvas-width offcanvas offcanvas-end" tabindex="-1" id="iPaid" aria-labelledby="iPaid" aria-modal="true" role="dialog">
				<div class="offcanvas-header d-flex justify-content-between border-5 border-bottom border-primary">
					<div class="d-flex align-items-center gap-3">
						<button type="button" class="btn-close m-0" data-bs-dismiss="offcanvas" aria-label="Close"></button>
						<div class="flex-column">
							<h5 class="fs-14 fw-medium text-uppercase m-0">Payment</h5>
							<p class="m-0 fs-12 text-uppercase">Test</p>
						</div>
					</div>
					<div class="d-flex gap-3">
						<a href="javascript:void(0);" class="btn btn-light">Cancel</a>
						<a href="javascript:void(0);" class="btn btn-primary"></a>
					</div>
				</div>
				<div class="offcanvas-body">
					
					<div class="d-flex align-items-center justify-content-between mb-3">
						<label class="form-label m-0 fs-16">I paid</label>
						<input class="form-control w-50" type="text" id="bsDatepicker7" placeholder="Select Date"/>
					</div>

					<div>
						<ul class="nav nav-pills nav-pills-light nav-pills-card w-100 mb-3" role="tablist">
							<li class="nav-item w-50" role="presentation">
								<button class="nav-link active w-100" data-bs-toggle="pill" data-bs-target="#iPaid_siteExpenses" type="button" role="tab" aria-controls="iPaid_siteExpenses" aria-selected="true">Site Expense</button>
							</li>
							<li class="nav-item w-50" role="presentation">
								<button class="nav-link w-100" data-bs-toggle="pill" data-bs-target="#iPaid_partyPayment" type="button" role="tab" aria-controls="iPaid_partyPayment" aria-selected="false" tabindex="-1">Party Payment</button>
							</li>
						</ul>
						<div class="tab-content">
							
							<div class="tab-pane fade active show" id="iPaid_siteExpenses" role="tabpanel" aria-labelledby="iPaid_siteExpenses" tabindex="0">

								<div class="mb-3">
									<label class="form-label text-uppercase">Amount</label>
									<input class="form-control" type="number">
								</div>

								<div class="mb-4">
									<label class="form-label">Add Cost Code</label>
									<div class="position-relative">
										<input class="form-control" placeholder="Select Cost Code">
										<span class="position-absolute end-0 top-50 translate-middle">
											<i class="icon feather icon-chevron-right fs-18"></i>
										</span>
									</div>
								</div>

								<div class="card-collapse mb-5">
									<div class="card-header collapsed" data-bs-toggle="collapse" data-bs-target="#collapseExample2" role="button" aria-expanded="false" aria-controls="collapseExample">
										<h4 class="m-0">More Details (Optional)</h4>
										<i class="fa fa-angle-down"></i>
									</div>
									<div class="collapsed collapse" id="collapseExample2">
										<div class="my-3">
											<label class="form-label">Note (Optional)</label>
											<textarea class="form-control" rows="3"></textarea>
										</div>
									</div>
								</div>
								
								<div>
									<form action="javascript:void(0);" class="custom-dropzone dropzone pointer">
										<div class="dz-default dz-message pointer">
											<button class="dz-button" type="button">Upload Bills<i class="ms-2 icon feather icon-upload-cloud text-primary fs-18"></i></button>
										</div>
									</form>
								</div>

							</div>

							<div class="tab-pane fade" id="iPaid_partyPayment" role="tabpanel" aria-labelledby="iPaid_partyPayment" tabindex="0">
								
								<div class="mb-3">
									<div class="dropdown-slt">
										<label class="form-label text-uppercase">Party Name</label>
										<input class="form-control w-100 border rounded on-dropdown-input" data-dropdown-target="#iPaid_partyName" type="text" readonly="">
										<div class="dropdown-list border rounded mt-2 p-2 on-dropdown-menu" id="iPaid_partyName" style="display: none;">
											<div class="party-item d-flex align-items-center p-2 border-bottom pointer gap-2 on-dropdown-item" data-val="Alexander">
												<div class="bg-primary text-white rounded-circle width40 height40 d-flex align-items-center gap-1 justify-content-center fw-medium">AX</div>
												<div class="flex-grow-1 d-flex justify-content-between align-items-center">
													<div>
														<div class="fw-semibold text-black">Alexander</div>
														<span class="fs-12">+91 764302****</span>
													</div>
													<div>
														<div>Client</div>
													</div>
												</div>
											</div>
											<div class="party-item d-flex align-items-center p-2 border-bottom pointer gap-2 on-dropdown-item" data-val="+15 1343025***">
												<div class="bg-primary text-white rounded-circle width40 height40 d-flex align-items-center gap-1 justify-content-center fw-medium">UN</div>
												<div class="flex-grow-1 d-flex justify-content-between align-items-center">
													<div>
														<div class="fw-semibold text-black">Michael Johnson</div>
														<span class="fs-12">+15 1343025***</span>
													</div>
													<div>
														<div>Staff</div>
													</div>
												</div>
											</div>
											<div class="btn btn-outline-primary w-100 mt-2" data-bs-toggle="offcanvas" data-bs-target="#create-party">
												+ Create Party
											</div>
										</div>
									</div>
								</div>

								<div class="mb-3">
									<label class="form-label text-uppercase">Amount</label>
									<input class="form-control" type="number">
								</div>

								<div class="mb-4">
									<label class="form-label">Add Cost Code</label>
									<div class="position-relative">
										<input class="form-control" placeholder="Select Cost Code">
										<span class="position-absolute end-0 top-50 translate-middle">
											<i class="icon feather icon-chevron-right fs-18"></i>
										</span>
									</div>
								</div>

								<div class="card-collapse mb-5">
									<div class="card-header collapsed" data-bs-toggle="collapse" data-bs-target="#collapseExample2" role="button" aria-expanded="false" aria-controls="collapseExample">
										<h4 class="m-0">More Details (Optional)</h4>
										<i class="fa fa-angle-down"></i>
									</div>
									<div class="collapsed collapse" id="collapseExample2">
										<div class="my-3">
											<label class="form-label form-label">Category</label>
											<select class="form-select selectpicker">
												<option>Labour</option>
												<option>Material</option>
												<option>Transport</option>
												<option>Equipment</option>
												<option>Sub Contractor</option>
												<option>Customer</option>
												<option>Designer</option>
												<option>Food and Travel</option>
												<option>Others</option>
												<option>Fuel</option>
												<option>Salary</option>
											</select>
										</div>

										<div class="my-3">
											<label class="form-label">Note (Optional)</label>
											<textarea class="form-control" rows="3"></textarea>
										</div>
									</div>
								</div>
								
								<div>
									<form action="javascript:void(0);" class="custom-dropzone dropzone pointer">
										<div class="dz-default dz-message pointer">
											<button class="dz-button" type="button">Upload Bills<i class="ms-2 icon feather icon-upload-cloud text-primary fs-18"></i></button>
										</div>
									</form>
								</div>

							</div>
						</div>
					</div>
				</div>
			</div>
			<!-- End - I Paid Offcanvas -->